<%= simple_form_for(@chart, html: { class: :chart_form }) do |f| %>
  <div class="row">
    <div class="col-sm-12">
      <%= render 'shared/error_messages', object: f.object %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <% if @chart.persisted? %>
        <div class="well">
          <%= link_to image_tag(chart_path(@chart), style: "width: 100%;"), chart_path(@chart) %>
        </div>
      <% end %>
      <div class="well">
        <%= f.input(:title) %>
        <%= f.input(:background_color, input_html: { class: :minicolors } ) %>
        <%= f.input(:columns, input_html: { value: f.object.columns || 10 }) %>
        <%= f.input(:item_height, input_html: { value: f.object.item_height || 20 }) %>
        <%= f.input(:item_width, input_html: { value: f.object.item_width || 20 }) %>
        <%= f.input(:width, input_html: { value: f.object.width || 1000 }) %>
        <%= f.input(:height, input_html: { value: f.object.height || 1000 }) %>
        <%= f.input(:grouplabels) %>
        <% if @chart.persisted? %>
          <%= f.input(:file_type, collection: [['PNG', :png], ['SVG', :svg]]) %>
          <%= f.input(:style, collection: [
            ['Circle', :circle],
            ['Cross', :cross],
            ['Manikin', :manikin],
            ['Bar', :bar],
            ['Pie', :pie]
          ]) %>
      <% else %>
        <%= f.input(:file_type, collection: [['PNG', :png], ['SVG', :svg]], selected: :svg) %>
        <%= f.input(:style, collection: [
          ['Circle', :circle],
          ['Cross', :cross],
          ['Manikin', :manikin],
          ['Bar', :bar],
          ['Pie', :pie]
        ], selected: :circle) %>
    <% end %>
    <%= f.submit class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="col-sm-8 data-column">
      <div class="well">
        <table>
          <colgroup>
            <col style="width:15%">
            <col style="width:40%">
            <col style="width:25%">
            <col style="width:20%">
          </colgroup>
          <thead>
            <th>
              Value
            </th>
            <th>
              Label
            </th>
            <th>
              Color
            </th>
            <th>
            </th>
          </thead>
          <tbody>
            <%= f.simple_fields_for :data do |datum| %>
              <%= render 'datum_fields', f: datum %>
            <% end %>
          </tbody>
        </table>
        <hr>
        <div class="links">
          <%= link_to_add_association 'Add row', f, :data, class: "btn btn-default" %>
          <%= f.submit class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
